<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/public/styles/index.css">

    <script src="/public/scripts/index.js" type="module" defer></script>
</head>
<body>
    <main>
        <div class="todo-card template">
            <header>
                <h2 class="title"></h2>
                <img
                    src="/public/assets/pending.svg"
                    alt="Pending..."
                    class="completion-icon"
                    title="Pending..."
                >
            </header>

            <footer>
                <img src="/public/assets/standard-user-profile-img.svg" alt="Profile Image" class="user-profile-img">
                <p class="username">Username</p>
            </footer>
        </div>
    </main>
</body>
</html>
